### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT *
FROM Worker
WHERE MONTH(JOIN_DATE) = 2 AND YEAR(JOIN_DATE) = 2014;

### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

SELECT *
FROM table_name
WHERE (column1, column2, column3) IN (
    SELECT column1, column2, column3
    FROM table_name
    GROUP BY column1, column2, column3
    HAVING COUNT(*) > 1
);

### Q-3. How to remove duplicate rows from Employees table.

CREATE TABLE Employees_New AS
SELECT DISTINCT *
FROM Employees;