### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT salary
FROM (
  SELECT salary, ROW_NUMBER() OVER (ORDER BY salary DESC) AS row_num
  FROM table_name
) AS salaries
WHERE row_num = 5;

### Q-20. Write an SQL query to fetch the list of employees with the same salary.

SELECT salary, GROUP_CONCAT(employee_name) AS employees
FROM employees
GROUP BY salary
HAVING COUNT(*) > 1;