### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

SELECT SUBSTRING(FIRST_NAME, 1, 3) AS FIRST_THREE_CHARS
FROM Worker;

### Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

SELECT POSITION('a' IN FIRST_NAME) AS POSITION_OF_A
FROM Worker
WHERE FIRST_NAME = 'Amitabh';

### Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

SELECT Department, MAX(Salary) AS Highest_Salary, GROUP_CONCAT(FIRST_NAME) AS Employees_With_Highest_Salary
FROM Worker
GROUP BY Department
HAVING Highest_Salary > 0;