### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

SELECT RTRIM(FIRST_NAME) AS FIRST_NAME_WITHOUT_WHITESPACES
FROM Worker;

### Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

SELECT DISTINCT DEPARTMENT, LENGTH(DEPARTMENT) AS DEPARTMENT_LENGTH
FROM Worker;

### Q-3. Write an SQL query to fetch nth max salaries from a table.

SELECT DISTINCT Salary
FROM Worker w1
WHERE n-1 = (
  SELECT COUNT(DISTINCT w2.Salary)
  FROM Worker w2
  WHERE w2.Salary > w1.Salary
);