### Q-13. Write an SQL query to show only odd rows from a table.

SELECT *
FROM (
    SELECT *, ROW_NUMBER() OVER (ORDER BY id) AS row_num
    FROM your_table_name
) subquery
WHERE row_num % 2 = 1;

### Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE new_table_name AS
SELECT *
FROM original_table_name;